Client/Client/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.100:9312/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.100:9312/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.100:9312/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.0.100:9312/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getUserAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserAll" />
  </wsdl:message>
  <wsdl:message name="IService_getUserAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getMailAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailAll" />
  </wsdl:message>
  <wsdl:message name="IService_getMailAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getMailTwoUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailTwoUser" />
  </wsdl:message>
  <wsdl:message name="IService_getMailTwoUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailTwoUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_checkUser_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUser" />
  </wsdl:message>
  <wsdl:message name="IService_checkUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserId" />
  </wsdl:message>
  <wsdl:message name="IService_getUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserName" />
  </wsdl:message>
  <wsdl:message name="IService_getUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_setMail_InputMessage">
    <wsdl:part name="parameters" element="tns:setMail" />
  </wsdl:message>
  <wsdl:message name="IService_setMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_setUser_InputMessage">
    <wsdl:part name="parameters" element="tns:setUser" />
  </wsdl:message>
  <wsdl:message name="IService_setUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getUserAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserAll" message="tns:IService_getUserAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserAllResponse" message="tns:IService_getUserAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMailAll" message="tns:IService_getMailAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMailAllResponse" message="tns:IService_getMailAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailTwoUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMailTwoUser" message="tns:IService_getMailTwoUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMailTwoUserResponse" message="tns:IService_getMailTwoUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/checkUser" message="tns:IService_checkUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/checkUserResponse" message="tns:IService_checkUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserId" message="tns:IService_getUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserIdResponse" message="tns:IService_getUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserName" message="tns:IService_getUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserNameResponse" message="tns:IService_getUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setMail" message="tns:IService_setMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setMailResponse" message="tns:IService_setMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setUser" message="tns:IService_setUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setUserResponse" message="tns:IService_setUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserAll">
      <soap:operation soapAction="http://tempuri.org/IService/getUserAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailAll">
      <soap:operation soapAction="http://tempuri.org/IService/getMailAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailTwoUser">
      <soap:operation soapAction="http://tempuri.org/IService/getMailTwoUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap:operation soapAction="http://tempuri.org/IService/checkUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserId">
      <soap:operation soapAction="http://tempuri.org/IService/getUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <soap:operation soapAction="http://tempuri.org/IService/getUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMail">
      <soap:operation soapAction="http://tempuri.org/IService/setMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <soap:operation soapAction="http://tempuri.org/IService/setUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getUserAll">
      <soap12:operation soapAction="http://tempuri.org/IService/getUserAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailAll">
      <soap12:operation soapAction="http://tempuri.org/IService/getMailAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailTwoUser">
      <soap12:operation soapAction="http://tempuri.org/IService/getMailTwoUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap12:operation soapAction="http://tempuri.org/IService/checkUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserId">
      <soap12:operation soapAction="http://tempuri.org/IService/getUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <soap12:operation soapAction="http://tempuri.org/IService/getUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMail">
      <soap12:operation soapAction="http://tempuri.org/IService/setMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <soap12:operation soapAction="http://tempuri.org/IService/setUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.0.100:9312/WcfServer.Service" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://192.168.0.100:45454/WcfServer.Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.100:45454/WcfServer.Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LEYT\Лейт</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>